* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #c5c4c4;
}

body {
    height: 100vh;
    font-family: "Rubik", sans-serif;
    background-color: rgb(0, 0, 0);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    box-shadow: 0px 0px 7px #b409c3;
    background-color: rgb(17, 17, 17);
}
.header-title {
    font-size: 27px;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
}
.header-title img {
    width: 50px;
    height: 50px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 50px;
}
.header-right ul{
    display: flex;
    gap: 50px;
}
.header-list {
    height: 21px;
    list-style: none;
    font-size: 17px;
    font-weight: 600;
    color: #c5c4c4;
    letter-spacing: 1px;
    cursor: pointer;
}
.header-list:hover {
    color: rgb(215, 86, 151);
}

.btn-header {
    width: 110px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    color: #e2e2e2;
    letter-spacing: 3px;
    background-color: rgb(173, 55, 141);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.btn-header:hover {
    opacity: 0.6;
}






main {
    margin-top: 50px;
    text-align: center;
}
.btn-main {
    width: 160px;
    height: 40px;
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    background-color: rgb(31, 31, 31);
    color: rgb(209, 84, 176);
    border: 3px solid;
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
@keyframes border {
  25% {
    border-left: 3px solid #532572;
  }
  50% {
    border-top: 3px solid #64357c;
  }
  75% {
    border-right: 3px solid #401d69;
  }
  100% {
    border-bottom: 3px solid #7d0088;
  }
}


.book-form {
    display: none; 
    margin-top: 40px;
    border-top: 2px solid #611568;
    border-bottom: 2px solid #611568;
    padding: 40px;
}
.book-form input {
    height: 23px;
    margin: 10px;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 600;
    padding: 15px 4px;
    border: 1px solid;
    border-radius: 5px;
    background: transparent;
    outline: none;
    border: 3px solid black;
    animation: border 1s ease-in-out infinite;
}

.book-entry {
    width: 170px;
    height: 170px;
    padding: 20px 38px;
    margin-bottom: 10px;
    font-size: 14px;
    border: 1px solid #eee;
    background-image: url(./image/boooook.png);
    background-size: cover;
    border: none;
}
#book-list h3 {
    text-align: center;
    margin: 10px 0px 7px 0px;
    color: white;
}
#book-list p {
    color: rgb(224, 224, 224);
    font-size: 13px;
    padding: 0px 5px;
}

#book-list {
    display: flex;
    gap: 50px;
    font-size: 15px;
    text-align: start;
    margin: 30px 20px;
}


#add-book-button {
    width: 90px;
    height: 35px;
    letter-spacing: 2px;
    font-size: 14px;
    background-color: rgb(0, 0, 0);
    color: rgb(219, 219, 219);
    border-radius: 5px;
}
.btn-for-input {
    width: 90px;
    height: 35px;
    letter-spacing: 2px;
    font-size: 14px;
    background-color: rgb(0, 0, 0);
    color: rgb(225, 224, 224);
    border-radius: 5px;
    margin: 4px;
    border: 1px solid rgb(151, 43, 122);
    transition: 0.4s ease-in-out;
}
.btn-for-input:hover {
    transform: scale(1.02);
}


@media (max-width: 900px) {
    .header-right ul {
        display: none;
    }
}







footer {
    margin-top: 250px;
}
.box {
    position: relative;
    margin: 100px auto;
    width: 220px;
    height: 100px;
    border: 1px solid rgb(0, 0, 0);
    background: repeating-conic-gradient(from var(--a),#d14e91 0%, #d14e91 5%,
    transparent 5%, transparent 40%, #d14e91 50%);
    animation: animate 4s linear infinite;
    border-radius: 20px;
    z-index: 1; 
}

@property --a
{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
@keyframes animate
{
    0%
    {
        --a: 0deg;
    }
    100%
    {
        --a: 360deg;
    }
}

.box::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(from var(--a),#0e5086 0%, #0e5086 5%,
    transparent 5%, transparent 40%, #0e5086 50%);
    animation: animate 4s linear infinite;
    animation-delay: -1s;
    border-radius: 20px;
    z-index: -1;
}
.box::after {
    content: '';
    position: absolute;
    inset: 8px;
    background: #000000;
    border-radius: 15px;
    border: 1px solid #000000;
    z-index: -1;
}
.content { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.content h1 {
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 30px;
    color: #d43688;
    text-shadow: 0px 0px 10px #741464;
    font-family: 'rubic', sans-serif;
}